{
  "openapi": "3.0.3",
  "info": {
      "title": "API资产管理接口文档",
      "description": "API资产管理接口文档",
      "version": "1.0"
  },
  "servers": [
      {
          "url": "http://apilm-management-web.qd-huangdao-ctcc.haier.net:80",
          "description": "Inferred Url"
      }
  ],
  "tags": [
      {
          "name": "API列表管理",
          "description": "Api Operation Controller"
      },
      {
          "name": "apipost调用接口",
          "description": "Apipost Noauth Controller"
      },
      {
          "name": "应用分析",
          "description": "App Analysis Controller"
      },
      {
          "name": "应用列表管理",
          "description": "App Operation Controller"
      },
      {
          "name": "开放接口",
          "description": "Open Api Controller"
      }
  ],
  "components": {
      "schemas": {
          "API列表结构类": {
              "title": "API列表结构类",
              "type": "object",
              "properties": {
                  "app": {
                      "type": "string",
                      "description": "应用"
                  },
                  "appSwaggerVersion": {
                      "type": "string",
                      "description": "swagger版本(用户在swagger config中声明的swagger版本)"
                  },
                  "createUserId": {
                      "type": "string",
                      "description": "创建人工号"
                  },
                  "createUserName": {
                      "type": "string",
                      "description": "创建人姓名"
                  },
                  "env": {
                      "type": "string",
                      "description": "版本环境"
                  },
                  "escapeUrl": {
                      "type": "string",
                      "description": "接口转义路径"
                  },
                  "id": {
                      "type": "integer",
                      "description": "id",
                      "format": "int64"
                  },
                  "isOpen": {
                    "type": "boolean",
                      "description": "开放API状态，true-已开放，false-未开放",
                      "example": false
                  },
                  "method": {
                      "type": "string",
                      "description": "调用方式"
                  },
                  "project": {
                      "type": "string",
                      "description": "项目空间"
                  },
                  "summary": {
                      "type": "string",
                      "description": "接口名称"
                  },
                  "updateChannel": {
                      "type": "string",
                      "description": "创建方式"
                  },
                  "updateTime": {
                      "type": "string",
                      "description": "版本时间",
                      "format": "date-time"
                  },
                  "updateUserId": {
                      "type": "string",
                      "description": "更新人工号"
                  },
                  "updateUserName": {
                      "type": "string",
                      "description": "更新人姓名"
                  },
                  "url": {
                      "type": "string",
                      "description": "调用地址"
                  },
                  "version": {
                      "type": "string",
                      "description": "版本"
                  }
              }
          }
      }
  }
}